body {
    font-family: 'Cairo', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.btn.dropdown-toggle {
    border: none;
    cursor: pointer;
    transition: background-color 1s ease, font-weight 0.3s ease;
}

.btn.dropdown-toggle:hover, .btn.dropdown-toggle:focus {
    background-color: #e8e8e8;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    transition: background-color 0.5s ease, font-weight 0.3s ease;
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1; 
}
